<div class="popupForms">
  <div class="cfbody">
    <form (ngSubmit)="onSubmit()" [formGroup]="form">

      <div *ngFor="let group of groups" class="formZone">
          <h2 >{{group.label}}</h2>
          <div *ngFor="let input of group.inputs" class="form-row">
              <app-dynamic-form-input [input]="input" [form]="form" (selectChanged)="onChanges($event)" (clickEvent)="onClick($event)"></app-dynamic-form-input>
            </div>
             </div>
         <!-- <div class="form-row">
        <button type="submit" [disabled]="!form.valid">Save</button>
      </div> -->
    </form>    
  </div>


  <!-- <div *ngIf="payLoad" class="form-row">
    <strong>Saved the following values</strong><br>{{payLoad}}
  </div> -->
</div>
