<div class="dataTables_wrapper">
  <div detect-scroll (onScroll)="handleScroll($event)" [bottomOffset]="1">  
          <p-dataTable  [value]="dataDIS"
          class="row-border homeTable hover"
          reorderableColumns="true"
          resizableColumns="true"
          [responsive]="true"
          selectionMode="multiple"
          [(selection)]="selectedRows"
          displaySelectedLabel="false"
          [globalFilter]="gb"
          [emptyMessage]="'Aucun Enregistrement Trouvé'"
          sortMode="multiple" 
          dataKey="id"
          scrollable="true" scrollHeight="70vh"
          #dt>

    
          <p-header class="clearfix">
                        <div class="row">
                                <div class="elemLngt col-md-4 listActionfirst">
                                        <h6>
                                                <span>Initiés modifié à valider</span>
                                                <span class="badge badge-secondary">({{dataDIS.length}})</span>
                                        </h6>
                                </div>
                                <div class="btnControl col-md-5">
                                        <header class="second-header clearfix">
                                                <div class="Files-section">
                                                        <div class="content-second-header">
                                                                <div class="list-action">
                                                                        <div class="btn btnTblControl" id="tstBtnConsulter" >
                                                                                <button class="btn btn-secondary" (click)="submitModifications()">
                                                                                   <i class="material-icons">done</i>
                                                                                   <span>Enregistrer tout</span>
                                                                                </button>
                                                                        </div>
                                                                        <div class="btn btnTblControl" id="tstBtnConsulter" >
                                                                                <button  class="btn btn-secondary">
                                                                                        <i class="material-icons">clear</i>
                                                                                        <span>Ignorer tout</span>
                                                                                </button>
                                                                        </div>
                                                                        <div class="dropdown actions">
                                                                                <button [disabled]="selectedRows.length <1" class="btn btn-default dropdown-toggle btn-blue" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                                                                        aria-expanded="true">
                                                                                                ...
                                                                                </button>
                                                                                <nav class="dropdown-menu second-head " aria-labelledby="dropdownMenu1">
                                                                                        <li class="dropdown-item">
                                                                                                <i class="material-icons second-head-ico">&#xE876;</i>Enregistrer ({{selectedRows.length}})
                                                                                        </li>
                                                                                        <li class="dropdown-item">
                                                                                                <i class="material-icons">&#xE042;</i>Ignorer ({{selectedRows.length}})
                                                                                        </li>
                                                                                </nav>
                                                                        </div>      
            
                                                                </div>
                                                        </div> 
                                                </div>
                                        </header>
                                </div>
                                <div class="searchUi col-md-3">
                                        <input #gb type="text" pInputText size="50" placeholder="Global Filter" id="tstInputSearch">
                                        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                                </div>                        
                        </div>
                </p-header>

                <p-column  [style]="{'width':'30px','text-align':'center'}" selectionMode="multiple" [resizable]="false"></p-column>
                <p-column header="Action" [style]="{'overflow':'visible','width':'55px','text-align':'center'}"
                [resizable]="false">
                        <ng-template let-cols let-row="rowData" pTemplate="body">
                        <span>
                                <div class="dropdown actions">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false" >
                                </button>
                                <ul class="dropdown-menu second-head " aria-labelledby="dropdownMenu1">
                                <li>
                                        <i class="fa fa-check-circle-o"></i>
                                          Enregistrer
                                </li>
                                <li >
                                        <i class="fa fa-ban"></i>
                                          Ignorer
                                </li>
                                <li>
                                        <i class="fa fa-pencil-square-o"></i>
                                        Modifier
                                </li>
                        </ul>
                                </div>
                        </span>
                        </ng-template>
                </p-column>
                <p-column field="id" [hidden]="true"></p-column>
                <p-column  field="nom" header="Nom"  [sortable]="true" [filter]="true" filterPlaceholder="Filtrer" >
                <ng-template let-cols let-row="rowData" pTemplate="body">
                        <span [style.color]="getRowColumnColor(row, 'nom')" >
                          <span *ngIf="getRowColumnColor(row, 'nom')!=='black'" (mouseenter)="showOverlay($event,getOldVal(row.id).nom,'02/05/2018',getRowColumnColor(row, 'nom'),findIdChangedVal(row,'nom'), op)">
                            {{ row.nom }} 
                          </span> 
                          <span *ngIf="getRowColumnColor(row, 'nom')==='black'">
                            {{getOldVal(row.id).nom}} 
                          </span>  
                        </span>
                </ng-template>
                </p-column>
                <p-column  field="prenom" header="Prenom"  [sortable]="true" [filter]="true" filterPlaceholder="Filtrer" >
                  <ng-template let-cols let-row="rowData" pTemplate="body">
                    <span [style.color]="getRowColumnColor(row, 'prenom')" >
                            <span *ngIf="getRowColumnColor(row, 'prenom')!=='black'" (mouseenter)="showOverlay($event,getOldVal(row.id).prenom,'02/05/2018',getRowColumnColor(row, 'prenom'),findIdChangedVal(row,'prenom'), op)">
                              {{ row.prenom }} 
                            </span> 
                            <span *ngIf="getRowColumnColor(row, 'prenom')==='black'">
                              {{getOldVal(row.id).prenom}} 
                            </span>  
                          </span>
                  </ng-template>
                </p-column>
                <p-column  field="fonction" header="Fonction"  [sortable]="true" [filter]="true" filterPlaceholder="Filtrer" >
                  <ng-template let-cols let-row="rowData" pTemplate="body">
                      <span [style.color]="getRowColumnColor(row, 'fonction')" >
                        <span *ngIf="getRowColumnColor(row, 'fonction')!=='black'" (mouseenter)="showOverlay($event,getOldVal(row.id).fonction,'02/05/2018',getRowColumnColor(row, 'fonction'),findIdChangedVal(row,'fonction'), op)">
                        {{ row.fonction }} 
                        </span> 
                        <span *ngIf="getRowColumnColor(row, 'fonction')==='black'">
                          {{getOldVal(row.id).fonction}}
                        </span>  
                      </span>
                  </ng-template>
                </p-column>
                <p-column  field="statutSignature" header="Statut Signature" [sortable]="true" [filter]="true" filterMatchMode="equals">
                <ng-template pTemplate="filter" let-col>
                        <p-dropdown [options]="statutsSignature" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-dropdown>
                </ng-template>
                </p-column>
                <p-column  field="referent" header="Référent"  [sortable]="true" [filter]="true" filterPlaceholder="Filtrer" filterMatchMode="contains" >
                <ng-template let-cols let-row="rowData" pTemplate="body">

                                <span [style.color]="getRowColumnColor(row, 'referent')" >
                                    <span *ngIf="getRowColumnColor(row, 'referent')!=='black'" (mouseenter)="showOverlay($event,getOldVal(row.id).referent,'02/05/2018',getRowColumnColor(row, 'referent'),findIdChangedVal(row,'referent'), op)">
                                    
                                    {{ row.referent.nom + ' ' + row.referent.prenom }} 
                                    </span> 
                                    <span *ngIf="getRowColumnColor(row, 'referent')==='black'">
                                      {{getOldVal(row.id).referent.nom + ' ' +getOldVal(row.id).referent.prenom}}
                                    </span>  
                                  </span>
                        </ng-template>
                </p-column>                  
                <p-column  field="etat" header="Etat"  [sortable]="true" [filter]="true" filterMatchMode="equals" >
                    <ng-template pTemplate="filter" let-col>
                            <p-dropdown [options]="etats" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-dropdown>
                    </ng-template>
                    <ng-template let-cols let-row="rowData" pTemplate="body">
                                <span>
                                    {{ (row.etat ? 'Actif' : 'Inactif') }}
                                </span>
                    </ng-template>
                </p-column>
                <p-column  field="adresseMail" header="Adresse email" [sortable]="true" [filter]="true" filterPlaceholder="Filtrer" filterMatchMode="contains" >
                        <ng-template let-cols let-row="rowData" pTemplate="body">
                            <span [style.color]="getRowColumnColor(row, 'adresseMail')" >
                                <span *ngIf="getRowColumnColor(row, 'adresseMail')!=='black'" (mouseenter)="showOverlay($event,getOldVal(row.id).adresseMail,'02/05/2018',getRowColumnColor(row, 'adresseMail'),findIdChangedVal(row,'adresseMail'), op)">                               
                                {{ row.adresseMail }} 
                                </span> 
                                <span *ngIf="getRowColumnColor(row, 'adresseMail')==='black'">
                                  {{getOldVal(row.id).adresseMail}}
                                </span>  
                              </span>
                        </ng-template>
                </p-column>
                <p-column  field="numeroMobile" header="Numero mobile" [sortable]="true" [filter]="true" filterPlaceholder="Filtrer" filterMatchMode="contains" >
                        <ng-template let-cols let-row="rowData" pTemplate="body">
                            <span [style.color]="getRowColumnColor(row, 'numeroMobile')" >
                                <span *ngIf="getRowColumnColor(row, 'numeroMobile')!=='black'" 
                                (mouseenter)="showOverlay($event,getOldVal(row.id).numeroMobile,'02/05/2018',getRowColumnColor(row, 'numeroMobile'),findIdChangedVal(row,'numeroMobile'), op)">
                                
                                {{ row.numeroMobile }} 
                                </span> 
                                <span *ngIf="getRowColumnColor(row, 'numeroMobile')==='black'">
                                  {{getOldVal(row.id).numeroMobile}}
                                </span>  
                              </span>
                        </ng-template>
                </p-column>
                <p-column  field="designePar" header="Désigné par"  [sortable]="true" [filter]="true" filterPlaceholder="Filtrer" filterMatchMode="contains" >
                          <ng-template let-cols let-row="rowData" pTemplate="body">

                                        <span [style.color]="getRowColumnColor(row, 'designePar')" >
                                            <span *ngIf="getRowColumnColor(row, 'designePar')!=='black'" (mouseenter)="showOverlay($event,(getOldVal(row.id).designePar.nom+ ' ' +getOldVal(row.id).designePar.prenom),'02/05/2018',getRowColumnColor(row, 'designePar'),findIdChangedVal(row,'designePar'), op)">
                                              {{ row.designePar.nom + ' ' + row.designePar.prenom }}
                                            </span> 
                                            <span *ngIf="getRowColumnColor(row, 'designePar')==='black'">
                                              {{getOldVal(row.id).designePar.nom  + ' ' + getOldVal(row.id).designePar.prenom}}
                                            </span>  
                                          </span>
                           </ng-template>
                </p-column>
 
                   
          </p-dataTable>
          <div class="infinit-scroll" *ngIf="showInfinitScroll" (click)='loadMore()'>
          <p><i class="fa fa-spinner fa-spin" aria-hidden="true"></i>afficher {{rowsNumber}} resultats de +</p>
          </div>
  </div> 
  <p-overlayPanel #op [dismissable]="true" [showCloseIcon]="true">
      <div>
        <div class="overHeader">
          <p>
            Date modification : <span class="oldValue">
              <!-- {{ oldValues.soumissionListe ===undefined ? oldValues.newValue :(oldValues.soumissionListe.date_soumission  | date:'dd/MM/yyyy')}}   -->
              {{dateChange}}  
            </span>
          </p> 
          <p>
            Valeur initiale : <span class="oldValue">{{oldValues}}</span>
          </p>
        </div>
        <div class="overlayFooter">
          <button (click)="op.hide($event);validateColumn(idModification)" class="submitbtn">
            Enregistrer
          </button>
          <button (click)="op.hide($event);ignoreColumn(idModification)" class="btn-danger">
            Ignorer
          </button>
        </div>
      </div>
  </p-overlayPanel>   
</div>

<p-dialog  *ngIf="showProfil"  [(visible)]="showProfil" [responsive]="true" showEffect="fade" [modal]="true" [closable]="false">
    <p-header class="clearfix">
            <div class="leftHeader">
                    <i class="fa fa-edit"></i> Modification                                
            </div>
    </p-header>
    <div class="ui-grid ui-grid-responsive ui-fluid">
            <br/>
            <app-dynamic-form [groups]="listGroupInputs" (formValid)="onValid($event)" (formSubmited)="onSubmit($event)"></app-dynamic-form>
            <br>
    </div>
    
    <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                    <!-- <button type="button" (click)="showProfil = false" >OK</button> -->
                    <button  type="button"  (click)="showProfil = false; modify = false" class="btn btn-secondary"><i class="fa fa-check"></i> Fermer</button>
                    <button  *ngIf="modify" type="button" [disabled]="this.myFormApp.disabled || disabled" (click)="callChild()" class="btn btn-primary"><i class="fa fa-refresh"></i> Valider</button>
            </div>
    </p-footer>
</p-dialog>
 


<p-dialog  *ngIf="showInfoGlob"  [(visible)]="showInfoGlob" [responsive]="true" showEffect="fade" [modal]="true" [closable]="true">
    <p-header class="clearfix">
            <div class="leftHeader">
                    <i class="fa fa-edit"></i> Modification                                
            </div>
    </p-header>
    <div class="ui-grid ui-grid-responsive ui-fluid">
            <br/>
               {{message}}
            <br>
    </div>
    
    <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                    <button  type="button"  (click)="show = false; modify = false" class="btn btn-primary"><i class="fa fa-check"></i> Fermer</button>
            </div>
    </p-footer>
</p-dialog>

<p-dialog header="Notification" [(visible)]="display" minWidth="400px">
    <div class="ui-grid ui-grid-responsive ui-fluid">
            <br/>
              Veuillez entrer votre commentaire
            <br>
            <textarea name="comment" id="" cols="30" rows="10" tabindex="1" [(ngModel)]="notifMessage"></textarea>
            <br>

    </div>

    <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                    <button  type="button"  (click)="display = false;sendNotif()" class="btn btn-primary"><i class="fa fa-check"></i> Fermer</button>
            </div>
    </p-footer>
</p-dialog>

 