
.btn-primary, .btn-primary:active {
    background-color: #000;
    border-color: #000;
}
  .signature-finish {
    background-image: url(https://pes.docapost-bpo.com/rct/orange/assets/images/ballons.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    min-height: 710px;
}

.consultBtn {
    color: #ffffff;
}