<div class="dataTables_wrapper">
  <div detect-scroll (onScroll)="handleScroll($event)" [bottomOffset]="1">
    <p-dataTable  [value]="dataInitiOccaByPilote"
    class="row-border homeTable hover"
    reorderableColumns="true"
    resizableColumns="true"
    [responsive]="true"
    selectionMode="multiple"
    [loading]="loading" 
    displaySelectedLabel="false"
    [globalFilter]="gb"
    [(selection)]="selectedRowsArr" 
    [emptyMessage]="'Aucun Enregistrement Trouvé'"
   
    [ngClass]="{'menuUp': this.dataInitiOccaByPilote.length >=13}"
    scrollable="true" scrollHeight="70vh" 
      sortMode="multiple" #dt 
    [totalRecords]="totalRecords">
    <p-header class="clearfix">
                <div class="row">
                        <div class="elemLngt col-md-2">
                                <span class="badge badge-light">{{this.dataInitiOccaByPilote.length}} Elements</span>
                        </div>
                        <div class="btnControl col-md-6">
                                <header class="second-header clearfix">
                                        <div class="Files-section">
                                                <div class="content-second-header">
                                                        
                                                        <div class="list-action">
                                                                        <div class="btn btnTblControl" id="tstBtnConsulter" >
                                                                                        <button (click)="confirmModification()" [disabled]="modificationList.length < 1">
                                                                                                        <i class="material-icons">&#xE923;</i>Soumettre mise à jour
                                                                                        </button>
                                                                                </div>
                                                                <!-- <div id="tstBtnAjouterUsr" class="btn add-folder" title="Créer utilisateur" *ngIf="this.checkCreation()" [routerLink]="['/angular/utilisateurs/addUser']">
                                                                        <i class="material-icons">&#xE7FE;</i>
                                                                </div>  -->
                                                                <div class="dropdown actions">
                                                                        <button [disabled]="selectedRowsArr.length <1 "class="btn btn-default dropdown-toggle btn-blue" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                                                          aria-expanded="true">
                                                                                  ...
                                                                  </button>
                                                                  <ul class="dropdown-menu second-head " aria-labelledby="dropdownMenu1">
                                                                          <li class="dropdown-header">Actions</li>
                                                                          <li><a href="javascript:void(0)" (click)="activateListPilote()">
                                                                                          <i class="fa fa-check-circle-o"></i>Activer
                                                                                  </a>
                                                                          </li>
                                                                          <li><a href="javascript:void(0)" (click)="deactivateListPilote()">
                                                                                          <i class="fa fa-ban"></i>Désactiver
                                                                                  </a>
                                                                          </li>
                                                                  </ul>
                                                                </div>
                                                        </div>
                                                        
                                                        
                                                </div> 
                                                <!-- <p-confirmDialog  responsive="true" #cd>
                                                        <p-footer>
                                                                <div class="ui-dialog-buttonpane ui-helper-clearfix">
                                                                        <button type="button" label="Annuler" (click)="cd.reject()"  class="btn-danger">Annuler</button>
                                                                        <button type="button" label="OK" (click)="cd.accept()"  class="btn-success">Confirmer</button>
                                                                </div>
                                                        </p-footer> 

                                                </p-confirmDialog> -->

                                                
                                                
                                       

                                        </div>
                                </header>
                                <!-- End header main container -->
                        </div>
                        <div class="searchUi col-md-3">
                                <input #gb type="text" pInputText size="50" placeholder="Global Filter" id="tstInputSearch">
                                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                        </div>                        
                </div>

            </p-header>
            <p-column  [style]="{'width':'30px','text-align':'center'}" selectionMode="multiple" [resizable]="false"></p-column>
                        <p-column header="Action" [style]="{'overflow':'visible','width':'55px','text-align':'center'}"
                        [resizable]="false">
                                <ng-template let-cols let-row="rowData" pTemplate="body">
                                        <span>
                                                <div class="dropdown actions">
                                                    <button class="btn dropdown-toggle btn-blue" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false" >
                                                    </button>
                                                    <ul class="dropdown-menu second-head " aria-labelledby="dropdownMenu1">
                                                        <li>
                                                          <a (click)="activateOnePilote(row)">
                                                              <i class="fa fa-check-circle-o"></i>
                                                                Activer
                                                          </a>
                                                        </li>
                                                        <li >
                                                          <a (click)="deactivateOnePilote(row)">
                                                            <i class="fa fa-ban"></i>
                                                              Désactiver
                                                          </a>
                                                        </li>
                                                        <li>
                                                          <a (click)="consultPilote(row)">
                                                            <i class="fa fa-pencil-square-o"></i>
                                                              Modifier
                                                          </a>
                                                        </li>
                                                </ul>
                                                </div>
                                            </span>
                                </ng-template>
                        </p-column>
            <p-column  field="prenom" header="Prénom"  [sortable]="true" [filter]="true" filterPlaceholder="Filtrer" [style]="{'width':'125px'}" >
                <ng-template let-cols let-row="rowData" pTemplate="body">
                        <span [style.color]="getRowColumnColor(row, 'prenom')">
                            {{ row.prenom }}
                        </span>
                </ng-template>
            </p-column>
            <p-column  field="nom" header="Nom"  [sortable]="true" [filter]="true" filterPlaceholder="Filtrer" [style]="{'width':'125px'}" >
                <ng-template let-cols let-row="rowData" pTemplate="body">
                        <span [style.color]="getRowColumnColor(row, 'nom')">
                            {{ row.nom }}
                        </span>
                </ng-template>    
        </p-column>
            <p-column  field="nomNaissance" header="Nom de naissance" [sortable]="true" [filter]="true" filterPlaceholder="Filtrer" [style]="{'width':'125px'}">
                <ng-template let-cols let-row="rowData" pTemplate="body">
                        <span [style.color]="getRowColumnColor(row, 'nomNaissance')">
                            {{ row.nomNaissance }}
                        </span>
                </ng-template>  
            </p-column>
            <p-column  field="adresseMail" header="Adresse email" [sortable]="true" [filter]="true" filterPlaceholder="Filtrer" [style]="{'width':'125px'}">
                <ng-template let-cols let-row="rowData" pTemplate="body">
                        <span [style.color]="getRowColumnColor(row, 'nomNaissance')">
                            {{ row.adresseMail }}
                        </span>
                </ng-template>  
            </p-column>
            <p-column  field="etat" header="Etat"  [sortable]="true" [filter]="true" filterMatchMode="equals" [style]="{'width':'125px'}">
                <ng-template pTemplate="filter" let-col>
                        <p-dropdown [options]="etats" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-dropdown>
                </ng-template>
                <ng-template let-cols let-row="rowData" pTemplate="body">
                            <span>
                                {{ (row.etat ? 'Actif' : 'Inactif') }}
                            </span>
                </ng-template>
              </p-column>
            <p-column  field="dateNaissance" header="Date de naissance" [sortable]="true" [filter]="true" filterPlaceholder="Filtrer" [style]="{'width':'125px'}">$
                <ng-template let-cols let-row="rowData" pTemplate="body">
                        <span [style.color]="getRowColumnColor(row, 'dateNaissance')">
                            {{(row.dateNaissance  | date:'dd/MM/yyyy')}}
                        </span>
                </ng-template>  
            </p-column>
            <p-column  field="numIdentifNational" header="Num identification national" [sortable]="true" [filter]="true" filterPlaceholder="Filtrer" [style]="{'width':'125px'}">
                <ng-template let-cols let-row="rowData" pTemplate="body">
                        <span [style.color]="getRowColumnColor(row, 'numIdentifNational')">
                            {{(row.numIdentifNational | date:'dd/MM/yyyy')}}
                        </span>
                </ng-template>  
            </p-column>
            <p-column  field="numPriveFixe" header="Num Privé Fixe" [sortable]="true" [filter]="true" filterPlaceholder="Filtrer" [style]="{'width':'125px'}">
                <ng-template let-cols let-row="rowData" pTemplate="body">
                        <span [style.color]="getRowColumnColor(row, 'numPriveFixe')">
                            {{ row.numPriveFixe }}
                        </span>
                </ng-template>  
            </p-column>
            <p-column  field="numPriveMobile" header="Num Privé Mobile" [sortable]="true" [filter]="true" filterPlaceholder="Filtrer" [style]="{'width':'125px'}">
                <ng-template let-cols let-row="rowData" pTemplate="body">
                        <span [style.color]="getRowColumnColor(row, 'numPriveMobile')">
                            {{ row.numPriveMobile }}
                        </span>
                </ng-template>  
            </p-column>




            <p-column  field="profil" header="Profil" [sortable]="true" [filter]="true" filterPlaceholder="Filtrer" [style]="{'width':'125px'}">
                <ng-template let-cols let-row="rowData" pTemplate="body">
                        <span [style.color]="getRowColumnColor(row, 'profil')">
                            {{ row.profil }}
                        </span>
                </ng-template>  
            </p-column>
            <p-column  field="condition" header="Condition" [sortable]="true" [filter]="true" filterPlaceholder="Filtrer" [style]="{'width':'125px'}">
                <ng-template let-cols let-row="rowData" pTemplate="body">
                        <span [style.color]="getRowColumnColor(row, 'condition')">
                            {{ row.condition }}
                        </span>
                </ng-template>  
            </p-column>
            <p-column  field="pilote.nom" header="Référent" [sortable]="true" [filter]="true" filterPlaceholder="Filtrer" [style]="{'width':'125px'}">
                <ng-template let-cols let-row="rowData" pTemplate="body">
                        <span [style.color]="getRowColumnColor(row, 'pilote.nom')">
                            {{ row.pilote.nom +' '+ row.pilote.prenom}}
                        </span>
                </ng-template>  
            </p-column>
            <p-column  field="fonction" header="Fonction" [sortable]="true" [filter]="true" filterPlaceholder="Filtrer" [style]="{'width':'125px'}">
                <ng-template let-cols let-row="rowData" pTemplate="body">
                        <span [style.color]="getRowColumnColor(row, 'fonction')">
                            {{ row.fonction }}
                        </span>
                </ng-template>  
            </p-column>
            <p-column  field="raison" header="Raison" [sortable]="true" [filter]="true" filterPlaceholder="Filtrer" [style]="{'width':'125px'}">
                <ng-template let-cols let-row="rowData" pTemplate="body">
                        <span [style.color]="getRowColumnColor(row, 'raison')">
                            {{ row.raison }}
                        </span>
                </ng-template>  
            </p-column>
            <p-column  field="dateInscription" header="Début inscription" [sortable]="true" [filter]="true" filterPlaceholder="Filtrer" [style]="{'width':'125px'}">
                <ng-template let-cols let-row="rowData" pTemplate="body">
                        <span [style.color]="getRowColumnColor(row, 'dateInscription')">
                            {{(row.dateInscription  | date:'dd/MM/yyyy')}}
                        </span>
                </ng-template>  
            </p-column>
            <p-column  field="dateSignature" header="Date de signature" [sortable]="true" [filter]="true" filterPlaceholder="Filtrer" [style]="{'width':'125px'}">
                <ng-template let-cols let-row="rowData" pTemplate="body">
                        <span [style.color]="getRowColumnColor(row, 'dateSignature')">
                            {{(row.dateSignature | date:'dd/MM/yyyy')}}
                        </span>
                </ng-template>  
            </p-column>
            <p-column  field="dateFinInscription" header="Fin inscription" [sortable]="true" [filter]="true" filterPlaceholder="Filtrer" [style]="{'width':'125px'}">
                <ng-template let-cols let-row="rowData" pTemplate="body">
                        <span [style.color]="getRowColumnColor(row, 'dateFinInscription')">
                            {{(row.dateFinInscription  | date:'dd/MM/yyyy')}}
                        </span>
                </ng-template>  
            </p-column>


            <p-column  field="nomRuePr" header="Nom de rue Perso" [sortable]="true" [filter]="true" filterPlaceholder="Filtrer" [style]="{'width':'125px'}">
                <ng-template let-cols let-row="rowData" pTemplate="body">
                        <span [style.color]="getRowColumnColor(row, 'nomRuePr')">
                            {{ row.nomRuePr }}
                        </span>
                </ng-template>  
            </p-column>
            <p-column  field="numRuePr" header="Num de rue Perso" [sortable]="true" [filter]="true" filterPlaceholder="Filtrer" [style]="{'width':'125px'}">
                                    <ng-template let-cols let-row="rowData" pTemplate="body">
                        <span [style.color]="getRowColumnColor(row, 'numRuePr')">
                            {{ row.numRuePr }}
                        </span>
                </ng-template>  
            </p-column>
            <p-column  field="complementAdressePr" header="Complément d'adresse Perso" [sortable]="true" [filter]="true" filterPlaceholder="Filtrer" [style]="{'width':'125px'}">
                <ng-template let-cols let-row="rowData" pTemplate="body">
                        <span [style.color]="getRowColumnColor(row, 'complementAdressePr')">
                            {{ row.complementAdressePr }}
                        </span>
                </ng-template>  
            </p-column>
            <p-column  field="villePr" header="Ville Perso" [sortable]="true" [filter]="true" filterPlaceholder="Filtrer" [style]="{'width':'125px'}">
                <ng-template let-cols let-row="rowData" pTemplate="body">
                        <span [style.color]="getRowColumnColor(row, 'villePr')">
                            {{ row.villePr }}
                        </span>
                </ng-template>  
            </p-column>
            <p-column  field="codePostalPr" header="Code postal Perso" [sortable]="true" [filter]="true" filterPlaceholder="Filtrer" [style]="{'width':'125px'}">
                <ng-template let-cols let-row="rowData" pTemplate="body">
                        <span [style.color]="getRowColumnColor(row, 'codePostalPr')">
                            {{ row.codePostalPr }}
                        </span>
                </ng-template>  
            </p-column>
            <p-column  field="paysPr" header="Pays Perso" [sortable]="true" [filter]="true" filterPlaceholder="Filtrer" [style]="{'width':'125px'}">
                <ng-template let-cols let-row="rowData" pTemplate="body">
                        <span [style.color]="getRowColumnColor(row, 'paysPr')">
                            {{ row.paysPr }}
                        </span>
                </ng-template>  
            </p-column>



            <p-column  field="nomEntreprise" header="Nom Entreprise" [sortable]="true" [filter]="true" filterPlaceholder="Filtrer" [style]="{'width':'125px'}">
                <ng-template let-cols let-row="rowData" pTemplate="body">
                        <span [style.color]="getRowColumnColor(row, 'nomEntreprise')">
                            {{ row.nomEntreprise }}
                        </span>
                </ng-template>        
            </p-column>

            <p-column  field="nomRueEnt" header="Nom de rue Ent" [sortable]="true" [filter]="true" filterPlaceholder="Filtrer" [style]="{'width':'125px'}">
                <ng-template let-cols let-row="rowData" pTemplate="body">
                        <span [style.color]="getRowColumnColor(row, 'nomRueEnt')">
                            {{ row.nomRueEnt }}
                        </span>
                </ng-template>     
            </p-column>


            <p-column  field="complementAdresseEnt" header="Complement adresse Ent" [sortable]="true" [filter]="true" filterPlaceholder="Filtrer" [style]="{'width':'125px'}">
                <ng-template let-cols let-row="rowData" pTemplate="body">
                        <span [style.color]="getRowColumnColor(row, 'complementAdresseEnt')">
                            {{ row.complementAdresseEnt }}
                        </span>
                </ng-template>    
            </p-column>
            <p-column  field="villeEnt" header="Ville Entreprise" [sortable]="true" [filter]="true" filterPlaceholder="Filtrer" [style]="{'width':'125px'}">
                <ng-template let-cols let-row="rowData" pTemplate="body">
                        <span [style.color]="getRowColumnColor(row, 'villeEnt')">
                            {{ row.villeEnt }}
                        </span>
                </ng-template>    
            </p-column>
            <p-column  field="codePostalEnt" header="Code postal Ent" [sortable]="true" [filter]="true" filterPlaceholder="Filtrer" [style]="{'width':'125px'}">
                <ng-template let-cols let-row="rowData" pTemplate="body">
                        <span [style.color]="getRowColumnColor(row, 'codePostalEnt')">
                            {{ row.codePostalEnt }}
                        </span>
                </ng-template>    
            </p-column>
            <p-column  field="paysEnt" header="Pays Entreprise" [sortable]="true" [filter]="true" filterPlaceholder="Filtrer" [style]="{'width':'125px'}">
                <ng-template let-cols let-row="rowData" pTemplate="body">
                        <span [style.color]="getRowColumnColor(row, 'paysEnt')">
                            {{ row.paysEnt }}
                        </span>
                </ng-template>      
            </p-column>
        

           
            <!-- <p-column  field="profil" header="Profil" [filter]="true" filterMatchMode="equals">
                    <ng-template pTemplate="filter" let-col>
                            <p-dropdown [options]="profil" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-dropdown>
                    </ng-template>
            </p-column> -->

           

         
                </p-dataTable>
          <div class="infinit-scroll" *ngIf="showInfinitScroll" (click)='loadMore()' id="infinit-scroll">
              <p><i class="fa fa-spinner fa-spin" aria-hidden="true"></i>afficher {{selectedRowsArrNumber}} resultats de +</p>
          </div>
        </div>
      </div>

      <p-dialog *ngIf="showProfil"  [(visible)]="showProfil" [rtl]="true" [responsive]="true" showEffect="fade" [modal]="true" [closable]="false">
        <p-header class="clearfix">
                <div class="leftHeader">
                        <i class="fa fa-edit"></i> Modification                                
                </div>
        </p-header>
        <div class="ui-grid ui-grid-responsive ui-fluid">
                <br/>
                <app-dynamic-form [groups]="listGroupInputs" (formValid)="onValid($event)" (formSubmited)="onSubmit($event)"></app-dynamic-form>
                <br>
        </div>
        
        <p-footer>
                <div class="ui-dialog-buttonpane ui-helper-clearfix">
                        <!-- <button type="button" (click)="showProfil = false" >OK</button> -->
                        <button  type="button"  (click)="showProfil = false; modify = false" class="btn btn-secondary"><i class="fa fa-check"></i> Fermer</button>
                        <button  *ngIf="modify" type="button" [disabled]="this.myFormApp.disabled || disabled" (click)="callChild()" class="btn btn-primary"><i class="fa fa-refresh"></i> Valider</button>
                </div>
        </p-footer>
</p-dialog>
<p-dialog header="Confirmation de la soumission" [(visible)]="confirmationDialog" [responsive]="true" showEffect="fade" [modal]="true">
                <div class="ui-grid ui-grid-responsive ui-fluid">
                        <span>{{message}}</span>
                </div>
                <p-footer>
                    <div class="ui-dialog-buttonpane ui-helper-clearfix">
                        <button *ngIf="!confirmationSubmit" type="button" class="btn btn-secondary" (click)="confirmationDialog = false" ><i class="fa fa-close"></i> Annuler</button>
                        <button *ngIf="!confirmationSubmit" type="button" class="btn btn-primary" (click)="submitModifications(); confirmationDialog=false;" ><i class="fa fa-check"></i> Confirmer</button>
                        <button *ngIf="confirmationSubmit" type="button" class="btn btn-primary" (click)="confirmationDialog=false; confirmationSubmit=false;" ><i class="fa fa-check"></i> OK</button>
                    </div>
                </p-footer>
        </p-dialog>
        <p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425" #cd>
                <p-footer>
                        <button class="btn btn-secondary" type="button" pButton icon="fa-close" label="Annuler" (click)="cd.reject()"></button>
                        <button class="btn btn-primary" type="button" pButton icon="fa-check" label="Ok" (click)="cd.accept()"></button>
                    </p-footer>
        </p-confirmDialog> 