 
      <!-- Start Header -->
<header class="first-header">
 
    <div class="logo">
      <a id="logo" [routerLink]="['/']">
        <img src="assets/img/logo.png" alt="Orange" width="55px" height="52px">
        
      </a>
    </div>
    <div class="livedoc-div">
        <span  class="livedoc-text font-weight-bold">INSIDERS</span>
      </div>
    <ul class="icon-header clearfix">
        <li class="listicon clearfix">
         <a (click)="this.logout()">
           <i class="material-icons">&#xE8AC;</i>
         </a>
       </li>
     </ul>


   <div class="icon-menu " id="menuBtn">
     <i class="material-icons">&#xE5D2;</i>
   </div>
  
  </header>
  <!--  End header -->
  