.btn:focus{
    color: #fff;
    background-color: #f16e00;
    border-color: #f16e00;
  }
  .btn-danger:focus{
    color: #fff!important;
    background-color: #cd3c14!important;
    border-color: #cd3c14!important;
  }